############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#############
## Mac
#############
.DS_Store

#############
## C++
#############

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/semester1/practise6/exercise3/dist/
/semester1/practise6/exercise3/build/
/semester1/practise6/exercise1/build/
/semester1/practise6/exercise1/dist/
/semester1/practise6/exercise2/build/
/semester1/practise6/exercise2/dist/
/semester2/practice1/exercise2/capital/build/
/semester2/practice1/exercise2/capital/dist/